<footer class="bg-gray-900 text-gray-300 py-6 mt-20">
  <div class="max-w-7xl mx-auto px-6 flex flex-col md:flex-row items-center justify-between gap-4">

  
    <p class="text-sm text-gray-400">
      © <%= new Date().getFullYear() %> Created and Coded by : 
      <span class="font-semibold text-white"> Vivek Ghule</span>
    </p>


    <div class="flex space-x-5">
      <a href="https://www.linkedin.com/in/vivekghule7/" target="_blank" 
         class="text-gray-400 hover:text-white text-xl transition">
        <i class="fab fa-linkedin"></i>
      </a>
    
    </div>

  </div>
</footer>
</body>
</html>
